:root {
    --site-margin: 1.5rem;
}
.align-center {
    text-align: center;
}
body {
    display: grid;
    grid-template-columns: [fullwidth-start] minmax(var(--site-margin), 1fr) [content-start] min(1200px, calc(100% - 3rem)) [content-end] minmax(var(--site-margin), 1fr) [fullwidth-end];
    margin: 0;
    font-family: "Roboto";
}

.section {
    grid-column: content;
}

.section.fullwidth {
    grid-column: fullwidth;
    display: grid;
    grid-template-columns: inherit;
}

.section.fullwidth .section-content {
   grid-column: content; 
}

header, footer {
    padding-block: 3rem;
    background-color: #ba0305;
    color: white;
}

footer {
    margin-top: 3rem;
}

header .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-headline {
    font-size: 2.25rem;
    font-weight: 500;
    text-align: right;
    margin: 0;
    font-family: "Roboto Slab";
}

#logo {
    width: 20rem;
    max-width: 50%;
}

.tabs, #main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-nav {
    background-color: #dbdbdb;
    color: #9a9a9a;
    border-color: #9a9a9a;
    margin-bottom: 1em;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

#main-nav ul {
    display: flex;
}

#main-nav .nav-item {
    border-left: 2px solid; 
    cursor: pointer;
}

#main-nav .nav-item:first-child,
#main-nav .nav-item.active,
#main-nav .nav-item.active + .nav-item {
    border-left: none;
}

#main-nav .nav-item {
    padding: 1.05em 2em;
}

#main-nav .nav-item:not(.active):hover {
    color: black;
}

#main-nav .nav-item.active {
    background-color: white;
    color: black;
    margin-block: 0;
    border-top: 0.55em solid white;
    border-bottom: 0.55em solid white;
    padding-block: 0.5em;
}

.tab {
    display: none;
    opacity: 0;
}

.tab.active {
    display: block;
    opacity: 1;
}

.tab-header {
    font-size: 1rem;
    background-color: #dbdbdb;
    padding-left: 1em;
    padding-block: 0.375em;
    margin: 0;
    font-weight: 500;
}

.tab-content {
    border: 2px solid #dbdbdb;
    border-top: none;
}
.tab-content-paddings {
    padding: 5%;
}

#vlog-iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 aspect ratio */
}

#vlog-iframe-container iframe, #vlog-iframe-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;

}

.tab-title-container {
    
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 1.125rem;
}
.tab-title-container p {
    color: #4a4a4a;
}

.tab-title-container  h1{
    font-size: 2.15em;
    font-weight: 500;
    margin-bottom: 0;
    font-family: "Roboto Slab";
}

.okrokdyl-img {
    object-fit: contain;
    width: 100%;
}

@media only screen and (max-width: 920px) {
    .nav-item {
        font-size: 0.875rem;
    }

    header, footer {
        padding-block: 2.35rem;
    }
    #header-headline {
        font-size: 1.65rem;
    }

    .tab-title-container {
        font-size: 1rem;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --site-margin: 0rem;
    }
    #logo {
        max-width: 80%;
    }

    header {
        position: relative;
    }

    header .section-content {
        flex-direction: column;
        gap: 1.5rem;
    }

    #header-headline {
        font-size: 1.25rem;
    }

    .tab-header {
        font-size: 0.875rem;
    }
    .tab-title-container {
        font-size: 0.75rem;
    }
}